@import "./grid";
@import "./variables";

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $pink;
    font-family: 'Roboto', sans-serif;
}
.container {
    margin: auto;
    padding: 0 15px;
}
.row {
    padding: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
[class*=col-] {
    padding: 0 15px;
}
.triangle {
    margin-left: 3px;
}
.bg-white {
    background-color: $white;
}
.bold {
    font-weight: bold;
}
.relative {
    position: relative;
}
.blue {
    color: $blue;
}
.uppercase {
    text-transform: uppercase;
}
/* GENERAL BUTTON CLASS */
.btn {
    width: 125px;
    height: 35px;
    background-color: $blue;
    color: $white;
    border-radius: 7px;
    outline: none;
    border: none;
    &:hover {
        transition: ease-in-out .1s;
        opacity: .5;
        color: $black;
    }
}
/* HEADER */
.header {
    background-color: $pink;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 3px 15px 0;
    font-size: 9px;
    font-weight: medium;
    color: $white;
    p {
        margin-left: 3px;
    }
}
.header-lang {
    justify-content: flex-end;
    form {   
        select {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            outline: none;
            color: $white;
            font-size: 11px;
            option {
                color: $black;
            }
        }
    }
}
/* HEADER MENU*/
.current:before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $blue;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        position: relative;
        list-style: none;
        .menu-hover{
            display: block;
            width: 90px;
            height: 75px;
            text-align: center;
            line-height: 75px;
            display: block;
            text-transform: uppercase;
            color: $black;
            font-size: 14px;
            font-size: medium;
            text-decoration: none;
            &:hover {
                background-color: $blue;
                transition: .3s ease-in-out;
            }
        }
    }
}
/* HEADER SEARCH*/
.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.search-field {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid $grey;
    padding: 5px;
    color: $black;
    font-size: 11px;
    font-size: medium;
    outline:none;
}
.search-img {
    position: absolute;
    top: calc(50% - 5px);
    left: 85%;
}

/* MAIN*/
/* MAIN Servers*/
.main {
    box-shadow: inset 0 5px 10px $dark-grey;
}
.world-map {
    position: absolute;
    left: -60px;
}
.servers {
    color: $white;
    h1 {
        text-transform: uppercase;
        font-size: 40px;
        margin-top: 35px;
    }
    h2 {
        font-size: 24px;
        margin: 10px 0;
    }
    .offer-box {
        display: flex;
        margin: 10px 0 10px 5px;
        img {
            margin-right: 5px;
        }
        p {
            font-size: 14px;
        }
    }
}

.servers-imgs {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    img {
        height: 175px;
        margin: 0 20px 0 20px;
    }
    .large-box {
        position: absolute;
        height: 260px;
        bottom: -15%;
        z-index: 300;
    }
}
.clouds-img {
    width: 100%;
    margin-bottom: -5px;
}

/* MAIN Plans*/
.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
        font-size: 20px;
        margin: 50px 0 30px;
    }
    h3 {
        font-size: 17px;
        margin: 30px 0 15px;
    }
    p {
        font-size: 14px;
    }
    img {
        margin-top: 80px;
        height: 100px;
    }
}
/* MAIN Check domain*/
.check-domain-shadow {
    height: 3px;
    width: 100%;
    margin: 3px 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 50%, rgba(0,0,0,0) 100%);
}
.check-domain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    h1 {
    font-size: 20px;
    }
    p   {
    font-size: 14px;
    margin: 35px 0;
    text-align: center;
    }
    .shadow {
        position: absolute;
        top: -80px;
    }
}

/* MAIN Search domain*/

.check {
    margin-bottom: 60px;
    text-align: center;
    form {
        border: 1px solid $grey;
        padding: 3px;
        border-radius: 7px;
        input {
            width: 350px;
            height: 40px;
            border: 1px solid $grey;
            border-right: none;
            border-radius: 10px 0 0 10px;
            font-size: 16px;
            outline: none;
            padding: 3px;
        }
        select {
            border: 1px solid $grey;
            border-left: none;
            border-radius: 0 10px 10px 0;
            width: 60px;
            height: 40px;
            margin-left: -5px;
            &:focus {
                outline: none;
            }
        }
        button {
            margin: 7px 20px;
        }
    }
}

/* MAIN Prices*/
.prices-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    .prices {
        .prices-col-top {
            border-radius: 10px 10px 0 0;
            border: 2px solid $grey;
            border-bottom: none;
            position: relative;
            height: 165px;
            background-color: $blue;
            .circles {
                .circle-white {
                    position: absolute;
                    top: calc(0% - 53.5px);
                    left: calc(50% - 53.5px);
                }
                .circle-blue {
                    position: absolute;
                    top: calc(0% - 40.5px);
                    left: calc(50% - 40.5px);
                }
                .circle-text {
                    display: block;
                    height: 100px;
                    width: 100px;
                    color: $white;
                    position: absolute;
                    text-align: center;
                    top: -15%;
                    left: 25%;
                    h2 {
                        font-size: 14px;
                    }
                    h1 {
                        font-size: 17px;
                    }
                    p  {
                        font-size: 11px;
                    }
                }
            }
            .world-map-prices {
                position: absolute;
                width: 100%;
                top: 30%;
                left: 0;
            }
            .box-prices {
                position: absolute;
                width: 50%;
                bottom: 0;
                left: 25%;
            }
            .cloud-prices {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
            }
        }
        .prices-col-bot {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 11px;
            border-radius: 0 0 10px 10px;
            border: 2px solid $grey;
            border-top: none;
            .line {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                margin: 6px 0;
            }
        }
        button {
            margin: 10px 0;
        }
    }
}
.btn.contact-us {
    margin-bottom: 60px;
}
.check.check2 {
    margin-bottom: 0px;
}

/* FOOTER*/
.footer {
    color: $white;
    box-shadow: inset 0 5px 10px $dark-grey;
    .container{
        .row{
            h1 {
                font-size: 17px;
                margin: 20px 0;
                font-weight: 400;
            }
            h3 {
                font-size: 14px;
                font-weight: 500;

            }
            .footer-li {
                font-size: 14px;
                margin: 10px 0 10px 20px;
                a {
                    display: block;
                    text-decoration: none;
                    color: $white;
                    font-weight: 300;
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            p {
                font-size: 11px;
                margin: 10px 0;
            }

        }
    }
}
.p-read-more {
    text-align: end;
    a {
        text-decoration: none;
        color: $white;
        &:hover {
            text-decoration: underline;
        }
    }
}


/* PAGE 2 ______ SERVICES ______*/
/* Main */
/* Our Services */

.our-services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $dark-grey;
    h1 {
        font-size: 25px;
        margin-top: 30px;
    }
    p {
        margin: 15px 0;
    }
}

/* Our Services */
.fast-services-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
        margin-top: 30px;
        width: 200px;
    }
}
.fast-services, .modern-adn-fast, .safe-and-protected {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    color: $dark-grey;
    h1 {
        font-size: 37px;
        margin: 20px 0;
    }
    p {
        font-size: 13px;
        margin: 20px 0;
    }
    .fast-service-row {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        p {
            margin: 0;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
}

/* Modern and Fast */
.modern-adn-fast-img {
    display: flex;
    flex-direction: row;
    .modern-and-fast-row-1, .modern-and-fast-row-2 {
        display: flex;
        flex-direction: column;
        color: $white;
        z-index: 200;
        margin-top: 11%;
        font-size: 13px;
    }
    .modern-and-fast-row-1 {
        margin-left: 18%;
    }
    .modern-and-fast-row-2 {
        margin-left: 10%;
    }
    .message-img {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 285px;
        z-index: 100;
    }
    .one-box-img {
        position: absolute;
        top: 20%;
        left: 15%;
        width: 240px;
        z-index: 90;
    }
}

/* Safe and Protected */

.safe-and-protected-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Why we are the best */

.we-are-the-best, .we-are-the-best-p {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    color: $dark-grey;
    text-align: center;
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 14px;
    }
}
.we-are-the-best-row {
    display: flex;
    .small-blue-circle, .icon-in-circle {
        position: absolute;
        width: 50px;
        height: 50px;
    }
    .we-are-the-best-col {
        margin: 10px 0 10px 80px;
        h1 {
            margin: 10px 0;
            font-size: 17px;
        }
        p {
            margin: 10px 0;
            font-size: 14px;
        }
    }
    .we-are-the-best-coll-margin {
        margin-bottom: 80px;
    }
}

/* __________PAGE 3__________ */
/* ABOUT US */
/* OUR TEAM */
.row .prices .prices-col-top.prices-col-top-page3 {
    height: 215px;
    .person {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 200px;
    }
    .person-2 {
        left: -15%
    }
    .person-3 {
        left: 10%;
    }
    .person-4 {
        left: 20%;
    }
}
.names-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 0 0 10px 10px;
    border: 2px solid $grey;
    border-top: none;
    color: $dark-grey;
    h1 {
        padding: 15px;
        font-size: 17px;
        border-bottom: 1px dotted $dark-grey;
    }
    p {
        padding: 15px;
        font-size: 11px;
    }
}

/* TABS */
.tabs-img {
    width: 100%;
    height: 250px;
    background-color: $grey;
    img {
        position: absolute;
        top: 10%;
        left: 25%;
        width: 200px;
        height: 200px;
    }
}
.tabs-text {
    font-size: 14px;
    p {
        height: 220px;
        overflow-y: scroll;
        margin-bottom: 15px;
    }
}
.tabs-wrap {
    display: flex;
    justify-content: space-between;
    .tab-item {
        display: block;
        line-height: 50px;
        text-align: center;
        color: $white;
        width: 50px;
        height: 50px;
        background-color: $dark-grey;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        margin-bottom: 60px;
        &:hover {
            background-color: $grey;
            color: $black;
        }
    }
}

/* __________PAGE 4__________ */
/* TABL */

.tabl {
    color: $dark-grey;
    .tabl-row {
        display: flex;
        text-align: center;
        .main-collumn {
            flex: 2;
            padding: 10px;
            border: 2px solid $grey;
            margin-bottom: 3px;
            font-weight: bold;
        }
        .secondary-collumn {
            flex: 1;
            padding: 10px;
            border: 2px solid $grey;
            margin-bottom: 3px;
        }
    } 
}
.feature-compiration {
    margin: -30px 0 30px 0;
}
.check-domain-page-4 {
    margin-top: 0;
}

/* __________PAGE 5__________ */
/* Office Info */
.office-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    .office-info-colllumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $dark-grey;
        .office-img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: $blue;
        }
        h1 {
            font-size: 17px;
            margin: 25px 0 10px 0;
        }
        p {
            font-size: 14px;
            margin: 5px 0;
        }
    }
}
/* MAP */
.map {
    margin-top: 60px;
}
/* FORM */
.send-mail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    color: $dark-grey;
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: 15px;
            margin: 3px 0;
        }
        input {
            width: 100%;
            background-color: $textarea;
            border: 1px solid $grey;
            font-size: 16px;
            outline: none;
            padding: 3px;
            margin: 10px 0;
        }
        textarea {
            max-width: 100%;
            min-width: 100%;
            background-color: $textarea;
            border: 1px solid $grey;
            font-size: 16px;
            outline: none;
            padding: 3px;
            margin: 10px 0 30px 0;
        }
    }
}
.btn-row {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}




/* JS_CLASSES */
.hide {
    display: none;
}
.show {
    display: block;
}
.show-inline {
    display: inline;
}
.hiden {
    visibility: hidden;
    opacity: 0;
}
.visible {
    visibility: visible;
    opacity: 1;
}
.tab-item.active {
    background-color: $grey;
    color: $black;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .search {
        justify-content: center;
        margin-bottom: 20px;
    }
    .search-field {
        width: 600px;
    }
    .check-domain {
        img {
            width: 1000px;
        }
    }
    .servers-imgs {
        align-items: center;
        img {
            height: 160px;
        }
        .large-box {
            bottom: 15%;
        }
    }
    // Page 3
    .row .prices .prices-col-top.prices-col-top-page3 {
        .person {
            left: 20%;
        }
        .person-2 {
            left: 10%;
        }
        .person-3 {
            left: 30%;
        }
        .person-4 {
            left: 30%;
        }
    }
    .tabs-img {
        img {
            left: 20%;
        }
    }

    // Page 4
    .prices-row {
        .prices {
            .prices-col-top {
                .circles {
                    .circle-text {
                       left: 20%; 
                    }
                }
            }
        }
    }    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .search {
    justify-content: center;
    margin-bottom: 20px;
    }
    .search-field {
        width: 550px;
    }
    .servers-imgs {
        align-items: center;
        img {
            height: 140px;
        }
        .large-box {
            bottom: 15%;
        }
    }
    .world-map {
        position: absolute;
        width: 750px;
        left: -60px;
        top: 0;
    }
    .prices-row {
        .prices {
            .prices-col-top {
                .circles {
                    .circle-text {
                        left: 33%;
                    }
                }
            }
            .prices-col-bot {
                margin-bottom: 50px;
                .line {
                    justify-content: center;
                }
            }
        }
    }
    .check-domain {
        img {
            width: 750px;
        }
    }
    .row .prices .prices-col-top.prices-col-top-page3 {
        .person {
            left: 20%;
        }
        .person-2 {
            left: 0;
        }
        .person-3 {
            left: 25%;
        }
        .person-4 {
            left: 30%;
        }
    }
    .tabs-img {
        img {
            left: 15%;
        }
    }
}

@media (min-width: 481px) and (max-width: 767px), (max-width: 480px) {
    .container {
        width: 300px;
    }
    .current {
        background-color: $blue;
    }
    .logo {
        justify-content: center;
        margin: 15px 0;
    }
    .search {
        display: none;
    }
    .menu {
        overflow-x: scroll;
    }
    .world-map {
        display: none;
        // position: absolute;
        // width: 300px;
        // left: 20px;
        // top: 20px;
    }
    .check-domain {
        img {
            width: 300px;
        }
    }
    .servers-imgs {
        display: none;
    }

    .check {
        form {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            input {
                width: 75%;
            }
            select {
                width: 25%;
            }
        }
    }
    .prices-row {
        .prices {
            .prices-col-top {
                .circles {
                    .circle-text {
                        left: 30%;
                    }
                }
            }
            .prices-col-bot {
                margin-bottom: 60px;
                .line {
                    justify-content: center;
                }
            }
        }
    }

    // MOBILE menu
    .menu {
        li {
            .menu-hover{
                width: 200px;
            }
        }
    }
    .header-row {
        display: flex;
        justify-content: space-between;
    }
    .nav-mobile-menu {
        margin-top: 15px;
        width: 20px;
        height: 20px;
        position: relative;
        span {
            height: 2px;
            background-color: $dark-grey;
            position: absolute;
            left: 0;
            right: 0;
            transition: .25s ease-in-out;
            &:nth-child(1) {
               top:7px; 
            }
            &:nth-child(2) {
                top: 14px; 
             }
             &:nth-child(3) {
                top: 21px; 
             }
        }
    }
    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 150px;
        right: 0;
        width: 200px;
        max-width: 200px;
        transition: all 500ms ease-in-out;
        transform: translateX(150%);
    }
    .nav-mobile-menu.active-menu {
        span {
            &:nth-child(1) {
                top:50%; 
                transform: rotate(45deg);
             }
            &:nth-child(2) {
                top: 50%; 
                transform: rotate(-45deg);
            }
            &:nth-child(3) {
                transform: scale(0);
            }
        }
    }
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        top: 150px;
        display: flex;
        flex-direction: column;
        background-color: $white;
        z-index: 100;
    }
    // Page 2
    .modern-adn-fast-img {
         .modern-and-fast-row-1 {
            margin-left: 10%;
        }
        .modern-and-fast-row-2 {
            margin-left: 15%;
        }
        .message-img {
            left: 0;
        }
        .one-box-img {
            top: 50%;
        }
    }
    .safe-and-protected-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    // Page 3
    .row .prices .prices-col-top.prices-col-top-page3 {
        .person {
            left: 10%;
        }
        .person-3 {
            left: 15%;
        }
        .person-4 {
            left: 25%;
        }
    }
    .tabs-img {
        img {
            left: 15%;
        }
    }
    // Page 4
    .tabl {
        display: none;
    }
    .feature-compiration {
        display: none;
    }

    // Page 5
    .send-mail {
        justify-content: center;
        text-align: center;
        form {
            h1 {
                font-size: 15px;
                margin: 3px 0;
            }
            input {
                width: 100%;
                background-color: $textarea;
                border: 1px solid $grey;
                font-size: 16px;
                outline: none;
                padding: 3px;
                margin: 10px 0;
            }
            textarea {
                max-width: 100%;
                min-width: 100%;
                background-color: $textarea;
                border: 1px solid $grey;
                font-size: 16px;
                outline: none;
                padding: 3px;
                margin: 10px 0 30px 0;
            }
        }
    }
}